@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background: #1A1A1A;
}
:root::-webkit-scrollbar{
    width: 8px;
    background: #18181e;
}
:root::-webkit-scrollbar-thumb{
    width: 8px;
    background: #050569;
}